
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    height: auto;
    width: auto;
    font-family: 'Hind Madurai', sans-serif;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 20px;
    position: fixed;
    z-index: 1;
    width: 100%;
}
 .logo h1{
    font-family: 'Train One', cursive;
    letter-spacing:.3rem;
    font-weight: 500;
 }
.menu ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.menu ul li a:hover {
    background-color: orange;
    color: black;
}

.lang ul li {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.maindiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-image: url(back2.jpg); */
    background: url('./back2.jpg') center/cover no-repeat, #FF9B50;
    /* background-color: #FF9B50;  */
    padding: 4rem;
}

.homeleft {
    /* width: fit-content; */
    margin-top: 6rem;
    /* padding: 1rem; */
}

.homeleft p {
    color: black;
}

.homeright {
    margin-top: 2rem;
    padding: 1rem;
}

/*about page style*/
.aboutmain{
    display: flex;
    justify-content: space-between;
    padding: 4rem;
}
.content{
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content:space-between; */
    padding: 4rem; 
}
.content h2{
    padding: 1rem;
    font-size: xx-large;
}
.content .aboutpara{
    margin-top: 2rem;
    padding: 1rem;
}
.content p{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: large;
}
.aboutbutton{
    display: flex;
    /* justify-content: space-between; */
    gap: 20rem;
}
.aboutbutton ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 2rem;
}
.aboutbutton button{
    background-color: #FF9B50;
    padding: 1rem;
    border-radius: 25px;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}
/*invit me style*/
.invite{
    display: flex;
    flex-direction: column;
    width:100%;
    height: 100%;
    /* background-color:gold; */
    background: url('./maveliinvite2.jpg') center/cover no-repeat,greenyellow;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}
.invite .icenter{
    /* background-color: rgb(122, 122, 181); */
    background-color:goldenrod;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    opacity: 0.9299;
}
.icenter .itop{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icenter .itop img{
    width: 10rem;
    height: 10rem;
    margin-top: 1.5rem;
    border: 5px solid white;
    border-radius: 50%;
    cursor: pointer;
}
hr{
    align-self: center; 
    width:25rem;
    border-bottom:2.5px solid white; 
    margin-top: 2rem; 
    border-radius: 30px;
    margin-left: 2rem;
    margin-right: 2rem;
}
.icenter .ibottom{
    display: flex;
    flex-direction: column;
}
.ibottomtop{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    row-gap: 1rem;
}
.ibottomtop label{
    font-size: large;
    font-weight: 600;
}
.ibottomdown{
    display: flex;
    justify-content: center;
}
.ibottomdown button{
    background-color:teal;
    padding: 1rem;
    border-radius: 25px;
    letter-spacing: 2px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    border: 2px solid black;
    /* margin-bottom: 1rem; */
}
/* footer style */
.footer{
    margin-top: 1rem;
    background-color: black;
    width: 100%;
    height: 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;
    gap: 5px;
}
.footer p{
    letter-spacing: 2px;
    font-size:1rem;
    font-weight: bold;
}